<div class="container">
  <div class="card border-success mb-3" style="max-width: 18rem">
    <div class="card-header bg-transparent border-success">
      Información acerca de la nueva versión
    </div>
    <div class="card-body text-success">
      <h5 class="card-title">ToolTip</h5>
      <p class="card-text">Some explanation.</p>
    </div>
    <div class="card-footer bg-transparent border-success">ICTI 2023</div>
  </div>
  <div class="card border-success mb-3" style="max-width: 18rem">
    <div class="card-header bg-transparent border-success">
      Información para agregar usuarios
    </div>
    <div class="card-body text-success">
      <h5 class="card-title">ToolTip</h5>
      <p class="card-text">
        Dirigirse con la Unidad de Informática para agregar usuarios.
      </p>
    </div>
    <div class="card-footer bg-transparent border-success">ICTI 2023</div>
  </div>
</div>
